---
- name: configure debian
  hosts: all
  become: yes
  tasks:

    - name: update all packages to their latest version
      apt:
        name: "*"
        state: latest
        update_cache: yes
        autoclean: yes
        autoremove: yes

    - name: install essential packages
      apt:
        pkg:
          - sudo
          - htop
          - ncdu
          - vim
          - git
          - dnsutils
          - net-tools
          - tmux
          - ufw
          - fail2ban
        state: latest

    - name: configure ufw
      block:
        
        - name: configure ufw defaults
          ufw:
            direction: "{{ item.direction }}"
            policy: "{{ item.policy }}"
            logging: on
          with_items: 
            - { direction: 'incoming', policy: 'deny' }
            - { direction: 'outgoing', policy: 'allow' }

        - name: configure ufw rules
          ufw:
            rule: "{{ item.rule }}"
            port: "{{ item.port }}"
            proto: "{{ item.proto }}"
          with_items:
            - { rule: 'limit', port: '{{ ssh_port | default("22") }}', proto: 'tcp' }
            - { rule: 'allow', port: '80', proto: 'tcp' }
            - { rule: 'allow', port: '443', proto: 'tcp' }

        - name: enable ufw
          ufw:
            state: enabled

        - name: start ufw
          systemd:
            name: ufw
            state: started


